<!-- layout dasbord -->
<div class="d-flex">
    <!-- kiri -->
    <div>
      <nav class="navbar" style="width: 100px; position: fixed; top: 0; left: 0; height: 100%; background: #0d28a6">
        <div class="d-flex align-items-center flex-column mb-3" style="height: 100%; margin-top: 0; color: #ffffff">
          <!-- item -->
          <div class="p-2 text-center pb-4">
            <div style="width: 36px; height: 36px; background: #cfd4ed"></div>
          </div>
          <div class="p-2 text-center pb-4">
            <img src="/asset/img/home.png " alt="" srcset="" />
            <label for="">Dasboard</label>
          </div>
          <a href="" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
            <div class="p-2 text-center">
              <img src="/asset/img/fi_truck.png" alt="" srcset="" /><br />
              <label for="">Cars</label>
            </div>
          </a>
        </div>
      </nav>
    </div>
    <!-- jarak -->
    <div style="width: 100px"></div>
    <!-- akhir jarak -->
    <!-- slide -->
    <div>
      <div style="position: fixed">
        <div class="collapse collapse-horizontal" id="collapseWidthExample">
          <div style="width: 200px; height: 100vh; background: #ffffff">
            <div class="d-flex align-items-start flex-column mb-3 slider-item" style="height: 100%; margin-top: 0">
              <!-- item -->
              <div class="p-3 pb-4">
                <div style="width: 100px; height: 36px; background: #cfd4ed"></div>
              </div>
              <div class="p-4 pb-4">
                <h6>CARS</h6>
              </div>
              <div class="p-4">
                <h6>LIST CARS</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- jarak -->
    <div class="collapse collapse-horizontal" id="collapseWidthExample">
      <div style="width: 200px"></div>
    </div>
    <!-- akhir slide -->

    <!-- kanan -->
    <div class="flex-grow-1">
      <!-- nav -->

      <nav class="navbar bg-light" style="margin-left: 0">
        <div class="container-fluid">
          <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
            <span class="navbar-toggler-icon"></span>
          </button>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
            <button class="btn btn-outline-success categoty-color" type="submit">Search</button>

            <img src="/asset/img/user.png" alt="" srcset="" style="padding-left: 20px" />
            <div class="dropdown">
              <a class="btn btn-secondary dropdown-toggle" style="background: none; color: #151515; border: none" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Roby Purba Sakty </a>

              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </div>
          </form>
        </div>
      </nav>

      <!-- akhir nav -->
